body {
  position: relative; }

.hotels .hotel_block h1 {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 45px;
  margin: 40px 0;
  border-bottom: 2px solid #000;
  padding-bottom: 6px; }
.hotels .hotel_block .hotel_rooms {
  display: flex;
  flex-wrap: wrap; }
  .hotels .hotel_block .hotel_rooms .room {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .hotels .hotel_block .hotel_rooms .room .left {
      display: flex; }
      .hotels .hotel_block .hotel_rooms .room .left .left_part img {
        width: 300px;
        height: 200px;
        border-radius: 6px;
        margin-right: 20px; }
      .hotels .hotel_block .hotel_rooms .room .left .right_part {
        position: relative;
        max-width: 890px; }
        .hotels .hotel_block .hotel_rooms .room .left .right_part h2 {
          font-family: 'Russo One', sans-serif;
          letter-spacing: 1.5px;
          font-weight: 900;
          margin-bottom: 10px;
          font-size: 26px;
          color: #151515; }
        .hotels .hotel_block .hotel_rooms .room .left .right_part h3 {
          font-weight: 400;
          font-size: 18px; }
        .hotels .hotel_block .hotel_rooms .room .left .right_part .characteristic {
          display: flex;
          justify-content: space-between; }
          .hotels .hotel_block .hotel_rooms .room .left .right_part .characteristic ul {
            position: absolute;
            display: flex;
            align-items: center;
            bottom: 0;
            margin-bottom: 10px; }
            .hotels .hotel_block .hotel_rooms .room .left .right_part .characteristic ul li {
              display: flex;
              margin-right: 15px; }
              .hotels .hotel_block .hotel_rooms .room .left .right_part .characteristic ul li img {
                margin-right: 10px; }
              .hotels .hotel_block .hotel_rooms .room .left .right_part .characteristic ul li p {
                font-size: 500;
                font-size: 18px; }
          .hotels .hotel_block .hotel_rooms .room .left .right_part .characteristic h3 {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 10px;
            font-family: 'Russo One', sans-serif;
            font-weight: 700px;
            font-size: 24px; }
    .hotels .hotel_block .hotel_rooms .room .right {
      display: flex;
      justify-content: center;
      align-items: center; }
      .hotels .hotel_block .hotel_rooms .room .right .pay button {
        padding: 10px 25px;
        border: none;
        font-weight: 700;
        font-size: 18px;
        border-radius: 6px;
        cursor: pointer;
        color: white;
        background-color: #3876e1; }
        .hotels .hotel_block .hotel_rooms .room .right .pay button:hover {
          transform: scale(1.05);
          transition: all 0.2s ease-in-out; }

.modal_hotel {
  display: none;
  z-index: 3;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(137, 137, 137, 0.477); }
  .modal_hotel.visible {
    display: block; }
  .modal_hotel .form_block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .modal_hotel .form_block .modal_block {
      background-color: #fff;
      padding: 20px;
      border-radius: 7px;
      align-items: center;
      margin: 0 auto;
      width: 700px;
      height: 500px;
      position: relative; }
      .modal_hotel .form_block .modal_block img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 10px;
        margin-right: 10px; }
      .modal_hotel .form_block .modal_block form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%; }
        .modal_hotel .form_block .modal_block form input {
          border-radius: 5px;
          padding: 10px 15px;
          color: black;
          font-weight: 500;
          font-size: 18px;
          margin-bottom: 3px; }
        .modal_hotel .form_block .modal_block form button {
          margin-top: 10px;
          padding: 10px 15px;
          border: none;
          color: white;
          font-weight: 700;
          font-size: 18px;
          border-radius: 5px;
          background-color: #186dff;
          cursor: pointer; }
          .modal_hotel .form_block .modal_block form button:active {
            transform: translateY(2px); }


